.navbar {
  width: 100%;
  background: white;
  border-bottom: 1px solid #e5e7eb;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 15px 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #2563eb;
  font-size: 22px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #1f2937;
  font-weight: 500;
}

.login-btn {
  background: #2563eb;
  color: white !important;
  padding: 8px 18px;
  border-radius: 6px;
}
